ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 50px;
    background-color: #186A71;
}

li {
    height: inherit;
    display: flex;
    align-items: center;
}
li.folderLink:hover{
    text-decoration: underline;
    background-color: #1A4044
}

li.bucket {
    margin-left: auto;
    margin-right: 0.2em;
    color: #142B2D;
    align-self: baseline;
}
li.bucket h2 {
    margin-left: 0.3em;
    margin-right: 0.3em;
}

li a {
    height: inherit;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 0.2em;
    margin-right: 0.5em;
    color: #DDD; 
    outline: 0;
}
