/* You can add global styles to this file, and also import other style files */

h1, h2, h3 { text-align: center; }

body { 
    margin:0;
    padding:0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}
